.projects__cards {
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 16px;
  padding: 0;
  margin: auto;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .projects__cards {
    gap: 80px;
  }
}

@media screen and (max-width: 896px) {
  .projects__cards {
    gap: 20px;
    grid-template-columns: 300px 300px;
  }
}

@media screen and (max-width: 636px) {
  .projects__cards {
    grid-template-columns: 400px;
    max-width: 300px;
  }
}
