.project__subtitle {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  align-self: center;
  font-size: 32px;
  line-height: 1.22;
  margin: 0;
  padding: 0;
}
