.cloud__circle {
  background: #000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
}

.cloud__circle:nth-child(2) {
  width: 150px;
  height: 150px;
  left: -58px;
}

.cloud__circle:nth-child(3) {
  width: 130px;
  height: 130px;
  top: 90px;
  left: 120px;
}

@media screen and (max-width: 768px) {
  .cloud__circle {
    left: 383px;
    top: -165px;
  }
  .cloud__circle:nth-child(2) {
    top: -100px;
    left: 325px;
  }

  .cloud__circle:nth-child(3) {
    top: -175px;
    left: 505px;
  }
}

@media screen and (max-width: 425px) {
  .cloud__circle {
    left: 383px;
    top: -165px;
  }
  .cloud__circle:nth-child(2) {
    top: -130px;
    left: 325px;
  }

  .cloud__circle:nth-child(3) {
    top: -120px;
    left: 505px;
  }
}

@media screen and (max-width: 320px) {
  .cloud__circle {
    width: 180px;
    height: 180px;
  }

  .cloud__circle:nth-child(2) {
    width: 120px;
    height: 120px;
  }

  .cloud__circle:nth-child(3) {
    width: 100px;
    height: 100px;
  }
}
