.about__paragraph {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 426px) {
  .about__paragraph {
    margin: 10px 0 0;
    font-size: 14px;
    line-height: 1.21;
  }
}
