.cloud {
  position: absolute;
  right: 280px;
  top: 180px;
}

@media screen and (max-width: 768px) {
  .cloud {
    display: flex;
    position: relative;
    right: 310px;
  }
}

@media screen and (max-width: 425px) {
  .cloud {
    height: 210px;
    right: 275px;
  }
}

@media screen and (max-width: 375px) {
  .cloud {
    right: 300px;
  }
}

@media screen and (max-width: 320px) {
  .cloud {
    right: 310px;
  }
}
