.project__subtext {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.21;
  margin: 0 0 0 30px;
  padding: 0;
}

.project__subtext:first-of-type {
  margin-top: 30px;
}

.project__subtext:nth-child(5) {
  margin-bottom: 30px;
}

.project__subtext:nth-child(7) {
  margin: 30px 0 30px 30px;
}

.project__subtext:nth-child(9) {
  margin: 30px 0 30px 30px;
}

.project__subtext:nth-child(11) {
  margin: 30px 0 30px 30px;
}

@media screen and (max-width: 2560px) {
  .project__subtext {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .project__subtext {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .project__subtext {
    font-size: 16px;
  }
}
