.about__avatar {
  align-self: center;
  background-size: cover;
  border-radius: 1000px;
  height: 232px;
  width: 232px;
  margin: 30px 80px 0 200px;
}

@media screen and (max-width: 1024px) {
  .about__avatar {
    margin-left: 80px;
  }
}

@media screen and (max-width: 504px) {
  .about__avatar {
    margin: 0 10px 0 20px;
  }
}
